<div class="card">
  <div class="card-header">
    {{cardHeader}}
  </div>

  <div class="card-block">
    <h4 class="card-title">{{cardTitle.title}}</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>รหัส</th>
          <th>ชื่อนิยาย</th>
          <th>รายละเอียด</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let novel of novels" (click)="showNovel(novel)">
          <td scope="row">{{novel.id}}</td>
          <td>{{novel.title}}</td>
          <td>{{novel.detail}}</td>
        </tr>
      </tbody>
    </table>

    <div class="alert alert-success " role="alert">
      <strong>{{selectNovel?.title}}</strong>
    </div>


    
  </div>
  
</div>
<app-content-detail [novel]="selectNovel"></app-content-detail>